.progress-cell{
    height: 180px;
    width: 180px;
    display: table-cell;
    border-radius: 20px;
    opacity: 0.75;
}

.progress-row{
    display: table-row;
}

.progress-table{
    display: table;
    margin: auto;
    margin-top: 200px;
    border-spacing: 20px;
    border-collapse: separate;
}

body{
    margin-bottom: 400px;
    background-color: hsl(0, 0%, 96%);
    height: 100%;
}

html{
    height: 100%;
}

#root{
    background-color: hsl(0, 0%, 96%);
}

.form-pop{
    width: 400px;
    margin: auto;
    margin-top: 100px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.you-right-block{
    background-color: white;
    padding: 30px!important;
    margin: 30px 30px 30px 0px;
    border-radius: 10px;
    height: auto;
}

.day-form{
    background-color: white;
    padding: 30px!important;
    margin: 30px 30px 30px 0px;
    border-radius: 10px;
    height: 440px;
}

.column1{
    display: block;
    width: 64%;
}

.column2{
    display: block;
    width: 37%;
}

.columns-custom{
    display: flex;
}

.progress-report{
    background-color: white;
    padding: 20px!important;
    margin: 30px 30px 30px 30px;
    border-radius: 10px;
}